@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 1.5s ease forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-100vw); /* Start completely off-screen */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Move into position */
  }
}

.animate-slide-in {
  animation: slide-in 2s ease forwards;
}
